.btn {
  padding: 0.46875rem 1.375rem;
  background-color: #1677ff;
  color: #ffff;
  font-weight: 500;
  height: 2.5rem;

  &:hover,
  &:active,
  &:focus {
    background-color: #1677ff;
    color: #fff !important;
  }
}

.object-cover {
  object-fit: cover;
}
